#parameterGenerator {
	width: 100%;
}

#left {
	width: 49%;
	float: left;
}

#right {
	width: 49%;
	float: right;
}

.selected {
	background: rgba(112, 4, 155, 0.5);
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	margin: auto;
	text-align: center;
	height: 25px;
	margin-top: 4px;
}

li:hover {
	background-color: rgba(20, 20, 20, 0.3);
}

.noselect { 
  -webkit-touch-callout: none; /* iOS Safari */ 
    -webkit-user-select: none; /* Safari */ 
     -khtml-user-select: none; /* Konqueror HTML */ 
       -moz-user-select: none; /* Firefox */ 
        -ms-user-select: none; /* Internet Explorer/Edge */ 
            user-select: none; /* Non-prefixed version, currently 
                                  supported by Chrome and Opera */ 
} 

#outputContainer {
	font-size: 20px;
}

#vert-space {
	height: 300px;
}

#controls button {
	width: 200px;
	height: 50px;
	margin: 10px;
	font-size: 18px;
}